<p>Welcome to edit</p>

<div>
    <form novalidate>
        Firtname:<br>
        <input type="text" ng-model="$ctrl.firstname"><br>
        Lastname:<br>
        <input type="text" ng-model="$ctrl.lastname"><br>
        Email:<br>
        <input type="text" ng-model="$ctrl.email"><br>
        Username:<br>
        <input type="text" ng-model="$ctrl.username"><br>
        Address:<br>
        <input type="text" ng-model="$ctrl.address"><br>
        <br><br>

    </form>
    <button ng-click="$ctrl.edit()">SUBMIT</button>

</div>

<div>
    <form novalidate>
        Old Password:<br>
        <input type="password" ng-model="$ctrl.oldpass"><br>
        New Password:<br>
        <input type="password" ng-model="$ctrl.newpass"><br>
        <div ng-if="$ctrl.errorMessage" style="color:red">{{ $ctrl.errorMessage }}</div>
        <br><br>

    </form>
    <button ng-click="$ctrl.editPass()">SUBMIT</button>

</div>