<!-- NAVIGATION -->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">Centaur</a>
    </div>
    <div ng-if="$ctrl.isAuth() === false">
        <li><a ui-sref="public.login">Log in</a></li>
        <li><a ui-sref="public.signup">Sign up</a></li>
    </div>
    <div ng-if="$ctrl.isAuth() === true">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="edit">Edit</a></li>
    </div>
</nav>
<!-- MAIN CONTENT -->
<div class="container">

    <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
    <div ui-view></div>

</div>
