<div>
    <form novalidate>
        Email:<br>
        <input type="text" ng-model="$ctrl.email"><br>

        Username:<br>
        <input type="text" ng-model="$ctrl.username"><br>

        Password:<br>
        <input type="password" ng-model="$ctrl.password"><br>

        Firstname:<br>
        <input type="text" ng-model="$ctrl.firstname"><br>

        Lastname:<br>
        <input type="text" ng-model="$ctrl.lastname"><br>

        Address:<br>
        <input type="text" ng-model="$ctrl.address"><br>
        <br><br>

        <p ng-if="$ctrl.validationError" style="color: red">{{$ctrl.validationError}}</p>
    </form>
    <button ng-click="$ctrl.signup()">SUBMIT</button>

</div>