<div>
    <form novalidate>
        Firtname:<br>
        <input type="text" ng-model="$ctrl.firstname"><br>
        Lastname:<br>
        <input type="text" ng-model="$ctrl.lastname"><br>
        Email:<br>
        <input type="text" ng-model="$ctrl.email"><br>
        Username:<br>
        <input type="text" ng-model="$ctrl.username"><br>
        Password:<br>
        <input type="password" ng-model="$ctrl.password"><br>
        Address:<br>
        <input type="text" ng-model="$ctrl.address">
        <br><br>

    </form>
    <button ng-click="$ctrl.auth()">SUBMIT</button>

</div>